<h1 class="page-header text-center">House of <%= @venue.name %></h1>



<% if @venue.bands.any? %>

<p class="lead"> We are excited to say <%= @venue.name %> has played at the following bands:
  <ul>
    <% @venue.bands.each do |band| %>
    <li><a href="/bands/<%= band.id %>"><%= band.name %></a></li>
    <% end %>
  </ul>
</p>

<% end %>

<% if @bands.any? %>

  <p class="lead"> For any bands not presently listed that should be please add them here:</p>
  <form action="/venues/<%= @venue.id %>" method="post">
    <% @bands.each do |band| %>
      <% unless @venue.bands.include?(band) %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="band_ids[]" value="<%= band.id %>"> <%= band.name %>
        </label>
      </div>
    <% end %>
  <% end %>
  <button name="add_bands" type='submit' class="btn btn-success">Add Bands</button>
  </form>

<% else %>

<p>It appears no bands have been added yet feel free to <a href="/bands">add a band</a>.</p>


<% end %>
